%div{:id => "#{dom_id booking}"}
  %p
    %strong Flightid:
    = booking.flightid
  %p
    %strong Fname:
    = booking.fname
  %p
    %strong Sname:
    = booking.sname
  %p
    %strong Email:
    = booking.email
  %p
    %strong Passportnum:
    = booking.passportnum
  %p
    %strong Dateofbirth:
    = booking.dateofbirth