= form_with(model: create_flight) do |form|
  - if create_flight.error.any?
    %div{:style => "color: red"}
      %h2
        = pluralize(create_flight.error.count, "error")
        prohibited this flight from being saved:
      %ul
        - create_flight.error.each do |error|
          %li= error.full_message
  %div
    = form.label :dep_airport, style: "display: block"
    = form.select :dep_airport, ["SFO", "NYC", "LAX", "JFK"]
  %div
    = form.label :arr_airport, style: "display: block"
    = form.select :arr_airport, ["NYC", "SFO", "LAX", "JFK"]
  %div
    = form.label :Date_And_Time, style: "display: block"
    = form.datetime_field :datetime
  %div
    = form.submit


