= form_tag(search_for_flight_path, :method => "get") do
  .input-group
    = search_field_tag :search, params[:search], placeholder: "Enter your desired airport", class: "form-control"
    .input-group-btn
      = button_tag "Search for Flight", :class => 'btn-btn-info glyphicon glyphicon-search', :depairport => nil
%h3 Search Results
%h6
- @results.each do |result|
  Flight ID: #{result.id}
  %br/
  = result.depairport
  To
  \#{result.arrairport}
  %br/
  = result.datetime
  %br/
  %br/
  = link_to "Book Flight", about_path
  - $flight_booking_id = result.id
  %br/
  \------------------------------
  %br/
  %br/
